{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author }}</strong> said : {{ comment.content }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
</p>
{% endblock %}
